<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768793464943-ikggau1sr8st7evljsibbe6cjlt81n8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768793464943-ikggau1sr8st7evljsibbe6cjlt81n8g</string>
	<key>API_KEY</key>
	<string>AIzaSyBoHXJaLZDeKEhDp98QSzZKA9Z2hpVOwSI</string>
	<key>GCM_SENDER_ID</key>
	<string>768793464943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geo.nachhilfe</string>
	<key>PROJECT_ID</key>
	<string>nachhilfe-f4db5</string>
	<key>STORAGE_BUCKET</key>
	<string>nachhilfe-f4db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768793464943:ios:491139b0b27576215b3d9a</string>
</dict>
</plist>